<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
          rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous"
  />
  <link
          rel="stylesheet"
          type="text/css"
          href="styles/styles.css"
  />
  <link rel="icon" href="images/librarianLogo.png"/>
  <title>BiblioTech - Error</title>
</head>
<body class="memberLogInBody" style="background-image: url('images/background.jpg');">
  <div style="margin-top:10%; margin-left: 40%;" class="memberForm">
    <div class="container memberFormContent">
      <div>
       <h3 style="margin: 75px; color:white;">Something went wrong.</h3>
      </div>
      <div>
        <h3 style="margin: 75px; color:white;">Please return to the previous page.</h3>
      </div>
      <div>
        <a href="/"><button style="color:white; border-color: rgb(170,0,255);"class="lHeaderBtn"> Go Back </button></a>
      </div>
    </div>
  </div>
</body>
</html>