<!DOCTYPE html>
<html lang="en">
<head>

    <meta HTTP-EQUIV="REFRESH" content="2; url=/loans">
    <title>BiblioTech - Renewal</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="styles/styles_Sam.css"/>
    <link rel="icon" href="images/librarianLogo.png"/>
    <!--THIS DOES A TIMED REDIRECT - IF YOU WANT TO CHANGE THE TIME REPLACE THE 3-->
</head>
<body style="background-image: url('images/background.jpg');">
<h1 style="color: rgb(170,0,255)"> Artifact is renewed!</h1>

</body>
</html>