<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="styles/styles.css"/>
		<link rel="icon" href="images/publicLogo.png"/>
		<title>BiblioTech - Main Portal</title>
	</head>

	<body style="background-color: black">
		<div class="Title bar" style="text-align: left; background: rgb(0,0,0); ">
			<img src="images/publicLogo.png" align="left" height="90px" style="padding-left: 1%; padding-right: 0.5%" />
			<h1 style="color: rgb(216,64,1)"><em>BiblioTech</em></h1>
			<p style="font-family:Arial; color: white;"><em>Come get y'all books</em></p>
			<hr style="color: rgb(216,64,1); border-top: 2px solid rgb(216,64,1);">
		</div>
		<br><br>
		<div class="Main container" style="text-align: center;">
			<br><br><br><br><br>
			<nav>

			<div class="iconWrap">	
			<a href="./publicIndex.html"><img class="portalIcon" height="100px" src="images/publicLogo.png" alt="Public Portal"/></a>
			<span style="font-family: Arial; margin-left: 2%; color: rgb(216,64,1)" class="iconDescription">Public Portal</span>
			</div>
			<br>
			
			<div class="iconWrap">
			<a href="/memberLogin"><img class="portalIcon" height="100px" src="images/memberLogo.png" alt="Member Portal"/></a>
			<span style="font-family: Arial; margin-left: 2%; color: rgb(0,168,243)" class="iconDescription">Member Portal</span>
			</div>
			<br>

			<div class="iconWrap">
			<a href="/librarianLogin"><img class="portalIcon" height="100px" src="images/librarianLogo.png" alt="Librarian Portal"/></a>
			<span style="font-family: Arial; margin-left: 2%; color: rgb(170,0,255)" class="iconDescription">Librarian Portal</span>
			</div>
			<br>

			</nav>
		</div>
	</body>
</html>

